
<div class="row margin-top-10">
  <div class="col-xs-2"><strong>Member:</strong></div>
  <div class="col-xs-10"><% @membership.persons.each do |p| %>
                <%= p.first_name %> <%= p.last_name %>
            <% end %> 
  </div>
</div>

<div class="row margin-top-10">
  <div class="col-xs-2"><strong>Membership Level:</strong></div>
  <div class="col-xs-10"><%= @membership.lvl %></div>
</div>

<div class="row margin-top-10">
  <div class="col-xs-2"> <strong>Amount:</strong></div>
  <div class="col-xs-10"> <%= @membership.amt%></div>
</div>




<div class="container margin-top-25">
  <%= link_to 'Edit', edit_membership_path(@membership), class: "btn btn-primary" %>
  <%= link_to 'Ok', memberships_path, class: "btn btn-primary" %>
</div>

