<h1>Events</h1>

<%= link_to 'New Event', new_event_path%>

<table>
    <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
	<th> Location </th>
	<th> Description </th>
    </tr>
    <% @events.each do |event| %>
        <tr>
            <td><%= event.eventName %></td>
            <td><%= event.eventStartDate%></td>
	    <td><%= event.eventEndDate%></td>
        <% @event_location = Address.find( event.location) %>
 	    <td><%= @event_location.address_name %> </td>
	    <td><%= event.description%></td>
            <td><%= link_to 'Show', event_path(event) %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event_path(event),

		method: :delete,
            data: {confirm: 'Are you sure?'}
             %></td>
        </tr>
    <% end %>
</table>
