<h1>Create New Person</h1>

<script>
$(function(){
    $( ".datetimepicker" ).datepicker({
    dateFormat: "yy-mm-dd"
    });
});
</script>
<%= form_for(@person, :url => {:action => 'create'}) do |p| %>

   <% if @person.errors.any? %>
        <div id="error_explanation">

          <h2><%= pluralize( @person.errors.count, "error") %> prohibited this msg from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :first_name, "First Name:" %></div>
      <div class="col-xs-4"><%= p.text_field :first_name, :class => 'form-control'%></div>
    </div>
    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :middle_name,"M:" %></div>
      <div class="col-xs-4"><%= p.text_field :middle_name, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :last_name, "Last Name:"%></div>
      <div class="col-xs-4"><%= p.text_field :last_name, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :email, "Email:"%></div>
      <div class="col-xs-4"><%= p.text_field :email, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :primary_contact,"primary Contact:"%></div>
      <div class="col-xs-4"><%= p.text_field :primary_contact, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :secondary_contact, "Secondary Contact:"%></div>
      <div class="col-xs-4"><%= p.text_field :secondary_contact, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :roles, 'User Types' %></div>
      <div class="col-xs-4">

        <%= select_tag "participating_people",
                       options_from_collection_for_select(Role.all, 'id', 'name', @person.roles.map{ |j| j.id }), :multiple => true, :class => "form-control" %>
      </div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :roles, 'User Expertises' %></div>
      <div class="col-xs-4">

        <%= select_tag "people_expertise",
                       options_from_collection_for_select(Expertise.all, 'id', 'expertise', @person.expertises.map{ |j| j.id }), :multiple => true, :class => "form-control" %>
      </div>
    </div>


    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :roles, 'User Interest' %></div>
      <div class="col-xs-4">

        <%= select_tag "people_interest",
                       options_from_collection_for_select(Interest.all, 'id', 'name', @person.interests.map{ |j| j.id }), :multiple => true, :class => "form-control" %>
      </div>
    </div>


    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :roles, 'User Education' %></div>
      <div class="col-xs-4">

        <%= select_tag "people_education",
                       options_from_collection_for_select(Education.all, 'id', 'educationlevel', @person.educations.map{ |j| j.id }), :multiple => true, :class => "form-control" %>
      </div>
    </div>


    <h2>Temporary Address</h2>
    <%= p.fields_for :addresses do |a| %> 
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= a.label :street, "Street"%></div>
            <div class="col-xs-4"><%= a.text_field :street, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= a.label :city, "City"%></div>
            <div class="col-xs-4"><%= a.text_field :city, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= a.label :state, "State"%></div>
            <div class="col-xs-4"><%= a.text_field :state, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= a.label :county, "County"%></div>
            <div class="col-xs-4"><%= a.text_field :county, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= a.label :zip, "Zip"%></div>
            <div class="col-xs-4"><%= a.text_field :zip, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= a.label :address_type, "Address Type"%></div>
            <div class="col-xs-4"><%= a.text_field :address_type, :class => 'form-control'%></div>
        </div>

    <% end %>
    
    <h2>Permanent Address</h2>
    <%= p.fields_for :addresses do |b| %> 
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= b.label :street, "Street"%></div>
            <div class="col-xs-4"><%= b.text_field :street, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= b.label :city, "City"%></div>
            <div class="col-xs-4"><%= b.text_field :city, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= b.label :state, "State"%></div>
            <div class="col-xs-4"><%= b.text_field :state, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= b.label :county, "County"%></div>
            <div class="col-xs-4"><%= b.text_field :county, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= b.label :zip, "Zip"%></div>
            <div class="col-xs-4"><%= b.text_field :zip, :class => 'form-control'%></div>
        </div>
        <div class="row margin-top-15">
            <div class="col-xs-2"><%= b.label :address_type, "Address Type"%></div>
            <div class="col-xs-4"><%= b.text_field :address_type, :class => 'form-control'%></div>
        </div>

    <% end %>

  
    <div class="container margin-top-25">
      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          Save <i class="icon-repeat"></i>
      <% end %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-danger"} %>
    </div>

<% end %>
