<h1>Create New Person</h1>

<script>
$(function(){
    $( ".datetimepicker" ).datepicker({
    dateFormat: "yy-mm-dd"
    });
});
</script>
<%= form_for(@person, :url => {:action => 'create'}) do |p| %>

   <% if @person.errors.any? %>
        <div id="error_explanation">

          <h2><%= pluralize( @person.errors.count, "error") %> prohibited this msg from being saved:</h2>

          <ul>
            <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :first_name, "First Name:" %></div>
      <div class="col-xs-4"><%= p.text_field :first_name, :class => 'form-control'%></div>
    </div>
    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :middle_name,"M:" %></div>
      <div class="col-xs-4"><%= p.text_field :middle_name, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :last_name, "Last Name:"%></div>
      <div class="col-xs-4"><%= p.text_field :last_name, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :email, "Email:"%></div>
      <div class="col-xs-4"><%= p.text_field :email, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :address_id%></div>
      <div class="col-xs-4"><%= p.collection_select(:address_id, Address.where(address_type: "User"), :id, :address_name) %></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :primary_contact,"primary Contact:"%></div>
      <div class="col-xs-4"><%= p.text_field :primary_contact, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :secondary_contact, "Secondary Contact:"%></div>
      <div class="col-xs-4"><%= p.text_field :secondary_contact, :class => 'form-control'%></div>
    </div>

    <div class="row margin-top-15">
      <div class="col-xs-2"><%= p.label :roles, 'User Types' %></div>
      <div class="col-xs-4">

        <%= select_tag "participating_people",
                       options_from_collection_for_select(Role.all, 'id', 'name', @person.roles.map{ |j| j.id }), :multiple => true, :class => "form-control" %>
      </div>
    </div>
  
    <div class="container margin-top-25">
      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          Save <i class="icon-repeat"></i>
      <% end %>
      <%= link_to "Cancel", :back, {:class=>"btn btn-danger"} %>
    </div>

<% end %>
