<h1>Person#edit</h1>

<%= form_for(@person, :url => {:action => 'update'}) do |p| %>
    <p>
      <%= p.label :name %><br>
      <%= p.text_field :name %>
    </p>
    <p>
      <%= p.label :hobby %><br>
      <%= p.text_field :hobby %>
    </p>
    <p>
      <%= submit_tag("Update Person") %>
    </p>
<% end %>
