<h1>Persons</h1>
<div class="container">
<div class="row col-xs-12 margin-top-25">
    <span class="col-xs-9"></span>
    <span class="col-xs-1"><%= link_to '  New', new_person_path, :class =>'glyphicon glyphicon-plus align: left', :title=>'New Person' %></span>
    <input type="text" id="search" placeholder="Type to search..." />
  </div>
  <div class="row">
    <table id="table" class="table-striped table-bordered table-hover table-condensed col-xs-12 margin-top-05"> 

      <thead>
        <tr >
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Primary Contact</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @persons.each do |person| %>
          <tr>
            <td><%= person.first_name %></td>
            <td><%= person.last_name %></td>
            <td><%= person.email%></td>
            <td><%= person.primary_contact%></td>
            <td><%= link_to '', person_path(person), :class => 'glyphicon glyphicon-eye-open', :title => 'Show' %></td>
            <td><%= link_to '', edit_person_path(person), :class => 'glyphicon glyphicon-pencil', :title => 'Edit' %></td>
            <td>
              <%= link_to '', person_path(person),                
                method: :delete,
                data: {confirm: 'Are you sure?'},
                :class => 'glyphicon glyphicon-trash',
                :title => 'Delete'
                %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
