<script type="text/javascript">
 $(function(){
   $( ".datetimepicker" ).datepicker({
	 dateFormat: "yy-mm-dd"
   });  
 });
 
</script>

<h1>Create new Donation</h1>

<%= form_for(@donation, :url => {:action => 'create'}) do |p| %>
  <p>
    <%= p.label :monetary_value %><br>
    <%= p.text_field :monetary_value, :class => "input-xlarge" %>
  </p>
  <p>
    <%= p.label :date%><br>
    <%= p.text_field :date, :class => "datetimepicker" %>
  </p>
  <p>
    <%= p.label :type%><br>
    <%= p.text_field :type%>
  </p>
  <p>
    <%= p.label :description%><br>
    <%= p.text_area :description%>
  </p>
  <p>
    <%= p.label :persons %>
    <%= select_tag "participating_people",
    options_from_collection_for_select(Person.all, 'id', 'name', @donation.persons.map{ |j| j.id }), :multiple => true %>
  </p>

  <p>
    <!-- <%= submit_tag("Create Donation") %> -->
	<%= button_tag(type: "submit", class: "btn btn-default") do %>
      Save <i class="icon-repeat"></i>
	<% end %>	
  </p>
<% end %>
