<h1> Education </h1>
<div class="container">
    <div class="row col-xs-12 margin-top-25">
        <span class="col-xs-9"></span>
        <span class="col-xs-1"><%= link_to '  New', new_education_path, :class =>'glyphicon glyphicon-plus align: left', :title=>'Add Educaton' %></span>
        <input type="text" id="search" placeholder="Type to search..." />
    </div> 

<table id="table" class="table-striped table-bordered table-hover table-condensed col-xs-12 margin-top-05">
    <thead>
    <tr>
       <th>Education level</th>
        <th colspan="6">Actions</th>
    </tr>
    </thead>
<tbody>
   <% @educations.each do |education| %>
        <tr>
            <td><%= education.educationlevel %></td>
            <td><%= link_to '', education_path(education), :class => 'glyphicon glyphicon-eye-open', :title => 'Show' %></td>
            <td><%= link_to '', edit_education_path(education), :class => 'glyphicon glyphicon-pencil', :title => 'Edit' %></td>
            <td><%= link_to '', education_path(education),

        method: :delete,
            data: {confirm: 'Are you sure?'},
        :class => 'glyphicon glyphicon-trash',
            :title => 'Delete'
             %></td>
        </tr>
    <% end %>
 </tbody>
</table>

</div>
</div>
</div>


